version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    networks:
      - app-network

  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
    ports:
      - "8180:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - app-network

  backend:
    image: jmix-backend
    container_name: jmix-backend
    build: .
    depends_on:
      - sqlserver
      - keycloak
    environment:
      MAIN_DATASOURCE_PASSWORD: ${MSSQL_SA_PASSWORD}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
      VAADIN_PRODUCTION_MODE: ${VAADIN_PRODUCTION_MODE:-true}
      logging.level.org.springframework.security: ${LOGGING_LEVEL_SECURITY:-INFO}
      SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_ID: app-jmix
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI: http://keycloak:8080/realms/cms-frontend
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8180/realms/cms-frontend
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/cms-frontend/protocol/openid-connect/certs
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build:
      context: ../cms-frontend
      dockerfile: Dockerfile
    container_name: cms-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:

volumes:
  mssql_data:
  keycloak_data:
